{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "node": true
                },
                "useBuiltIns": "usage",
                "corejs": 3
            }
        ]
    ]
}